# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libs
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libs
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Do not include include and libs folder
libs/**/
include/**/

# CMake Ignores
cmake-build-*/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/.idea
/**/.idea
/**/venv/
__pycache__

# Benchmark folders
benchmark-plots/
benchmark-results/
benchmark-state/

workload/